@use 'style/style.sass' as *

.form
	display: inline-block
	border-radius: .4rem
	border: .1rem solid $color-light
	min-width: 20rem
	padding: 0 .8rem 0 0
	min-height: 4rem
	box-sizing: border-box
	position: relative
	background-color: #fff

.activeForm
	border: .1rem solid $color-secondary

.inputWrapper
	height: 100%
	display: flex
	justify-content: space-between
	justify-content: center
	align-items: center
	padding: 0
	border: none

.input
	border: none
	width: calc(100% - 2.4rem)
	height: 3.6rem
	border-radius: .4rem .4rem 0 0
	vertical-align: middle
	text-indent: 10px
	box-sizing: border-box
	font-family: $font-family
	font-size: 1.6rem
	&:active, &:hover, &:focus
		outline: 0

.resultsWrapper
	border: none
