.datepicker
	top: 7rem
	left: 0
	z-index: 5
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
	box-sizing: border-box
	border-radius: .8rem
	background-color: #fff
	display: inline-block
	max-height: inherit
	overflow: hidden
