.article
	max-width: 38rem
	border-radius: 4px
	height: 100%
	& .header
		background-color: #fff
		& img
			width: 100%
			object-fit: cover
			border-radius: 4px 4px 0 0
	& .body
		padding: 1rem
		background-color: #fff
		& .date
			margin-bottom: 1rem
		& .title
			margin-bottom: 1rem
			min-height: 5.5rem
		& .description
			margin-bottom: 1rem
			min-height: 10rem
