@import 'style/mixins.sass'

.header
	display: flex
	align-items: center
	background-color: #fff
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1)
	position: fixed
	width: 100%
	z-index: 100
	height: 72px

.wrapper
	display: flex
	align-items: center
	gap: 4rem
	@include respond(m)
		gap: 2rem

.search
	flex-grow: 1

.menu
	@include respond(m)
		gap: 2rem

.logo
	position: relative
	min-width: 152px
	height: 32px
	background: url('/assets/images/logo-full.svg')
	@include respond(m)
		min-width: 49px
		height: 40px
		background: url('/assets/images/logo-partial.svg')

	& .homeLink
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
