@use 'style/variables' as *
@import 'style/mixins.sass'

.card
	display: flex
	flex-direction: column
	justify-content: space-between
	background-color: #fff
	border-radius: .4rem
	max-width: 27.2rem
	font-family: $font-family
	position: relative
	@include respond(m)
		max-width: 22.4rem
	@include respond(s)
		max-width: 16rem
