.form
	display: flex
	flex-direction: column
	align-items: center
	padding: 0 6.75rem 2rem 6.75rem

.title
	margin-bottom: 2rem

	&_req
		margin-bottom: 1.2rem

	&_opt
		margin-bottom: 1.2rem

.required, .optional
	display: flex
	flex-wrap: nowrap
	gap: 4rem
	margin-bottom: 2rem
	width: 100%
	& .left , & .right
		display: flex
		flex-direction: column
		gap: 1.6rem
		width: 100%
	& .right
