.card
	// border: 1px solid black
	display: flex
	flex-direction: column
	background-color: #fff
	padding: .8rem
	border-radius: .4rem
	&_header
		width: 22.6rem
		height: 16rem
	&_body
	&_footer
		&_btn
			width: 100%
			text-align: center
