@use 'style/variables' as *

.notice
	border-radius: .4rem
	display: flex
	align-items: center
	text-align: center
	padding: .4rem .8rem

.text
	color: $color-primary-text
	&_gray
		color: $color-surface-text

.primary
	background-color: $color-primary

.gray
	background-color: $color-lightest

.error
	background-color: $color-error

.secondary
	background-color: $color-secondary

.success
	background-color: $color-sucess
